*{
	margin: 0;
	padding: 0;
}
#content{
	width: 1000px;
	margin: 60px auto;
	clear: both;
}

#header{
	position: fixed;
	height: 60px;
	width: 100%;
	z-index: 9999;
	top: 0;
}

#nav{
	width: 1000px;
	position: absolute;
	background-color: #66CDAA;
	padding: 0;
	bottom: 5px;
	border-width: 2px 0 2px 0;
	border-style: solid;
	border-color: #FFF;
	
}

#nav ul{
	margin: 0 auto;
	background-color: #EEE;
}

#nav ul li{
	display: block;
	width: 200px;
	float: left;
	line-height: 50px;
	text-align: center;
	background-color: #66CDAA;
	color: #FFF;
	margin: 2px;
	font-size: 20px;
	font-weight: bold;
}

#nav ul li:hover{
	background-color: #FFF;
	color: #5F9EA0;
}

#nav a{
	text-decoration: none;
	color: inherit;
}

#view{
	width: 100%;
	height: 2000px;
	background-color: #FAFAFA;
	
}

.post{
	position: relative;
}

.post:after{
	content: "-";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.post a{
	text-decoration: none;
	color: #000;
}
.post h1{
	width: 100%;
	text-align: center;
	background-color: #66CDAA;
	color: #FFF;
	font-size: 15px;
}

.post a{
	margin: 10px 5px 5px;
	border-color: #66CDAA;
}

.post a:hover{
	color: #5F9EA0;
	border-color: #5F9EA0;
}

.post img{
	border-radius: 30%;
	border: 2px solid;
	border-color: inherit;
	height: 200px;
	width: 300px;
	margin: inherit;
	float: left;
}
.post h2{
	width: 650px;
	font-size: 25px;
	margin: inherit;
	float: left;
}

.post p{
	width: 650px;
	float: left;
}

.post hr{
	float: left;
	width: calc(100% - 20px);
	margin: 10px 10px 0;
	text-align: center;
	border: none;
	border-top: medium double #66CDAA;
}
.post hr:after{
	content: "~*~";
	color: #66CDAA;
    display: inline-block;
    position: relative;
    top: -0.7em;
    padding: 0 0.25em;
	background: #FAFAFA;
}